@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 75%; }
  @media only screen and (max-width: 31.25em) {
    html {
      font-size: 65%; } }

body {
  padding: 3rem;
  font-family: "Montserrat", sans-serif;
  box-sizing: border-box;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f6f6fe; }
  @media only screen and (max-width: 50em) {
    body {
      background-image: none; } }

body::before {
  content: '';
  background-image: url("../images/bg-top.svg");
  background-repeat: no-repeat;
  background-position: top right;
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 100%;
  z-index: -1; }
  @media only screen and (max-width: 50em) {
    body::before {
      background-image: none; } }

body::after {
  content: '';
  background-image: url("../images/bg-bottom.svg");
  background-repeat: no-repeat;
  background-position: bottom left;
  position: absolute;
  bottom: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1; }
  @media only screen and (max-width: 50em) {
    body::after {
      background-image: none; } }

.container {
  max-width: 120rem;
  display: flex;
  flex-direction: column;
  align-items: center; }

h1 {
  color: #494c5f; }

.cards {
  display: flex; }
  @media only screen and (max-width: 50em) {
    .cards {
      flex-direction: column; } }

.card {
  max-width: 50rem;
  padding: 1.5rem 1.5rem 1.5rem 1.5rem;
  margin-bottom: 2rem;
  background-color: #fff;
  border: none;
  border-radius: 4px;
  font-family: "Montserrat";
  position: relative; }
  .card--1 {
    transform: translateX(-1.5rem);
    z-index: 1;
    min-height: 30rem; }
    @media only screen and (max-width: 50em) {
      .card--1 {
        transform: translateX(0);
        z-index: 0; } }
  .card--3 {
    transform: translateX(1.5rem);
    z-index: 1;
    min-height: 30rem; }
    @media only screen and (max-width: 50em) {
      .card--3 {
        transform: translateX(0);
        z-index: 0; } }
  .card--premium {
    background-image: linear-gradient(to right, #a3a8f0, #696fdd);
    transform: scale(1.15);
    z-index: 10; }
    @media only screen and (max-width: 50em) {
      .card--premium {
        transform: scale(1);
        z-index: 0; } }
  .card--premium > * {
    transform: scale(0.869); }
  .card__header {
    color: #494c5f;
    font-size: 1.3rem;
    font-family: inherit;
    font-weight: 700;
    text-align: center; }
    .card__header--premium {
      color: #fff; }
  .card__price {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #494c5f;
    font-family: inherit;
    font-weight: 700; }
    .card__price--dollar {
      font-size: 2rem;
      font-family: inherit;
      margin-right: .3rem; }
      .card__price--dollar-premium {
        color: #fff; }
    .card__price--money {
      font-size: 4.5rem;
      font-family: inherit; }
      .card__price--money-premium {
        color: #fff; }
  .card__features {
    list-style: none;
    text-align: center;
    border-top: 1px solid #b3b5c6;
    border-bottom: 1px solid #b3b5c6; }
  .card__item {
    padding: 1rem 4rem;
    color: #b3b5c6;
    font-family: inherit;
    font-weight: 700; }
    .card__item--premium {
      color: #fff; }
    .card__item:not(:last-of-type) {
      border-bottom: 1px solid #b3b5c6; }
  .card__button {
    width: 100%;
    text-transform: uppercase;
    border: none;
    border-radius: 4px;
    padding: .8rem 6.2rem;
    font-family: inherit;
    font-weight: 700;
    font-size: 1rem;
    color: #fff;
    background-image: linear-gradient(to right, #a3a8f0, #696fdd);
    cursor: pointer; }
    .card__button:hover {
      background-color: #fff;
      background-image: linear-gradient(to right, #a3a8f0, #696fdd);
      -webkit-background-clip: text;
      background-clip: text;
      -webkit-text-fill-color: transparent;
      border: 1px solid linear-gradient(to right, #a3a8f0, #696fdd) !important; }
    .card__button--premium {
      background-color: #fff;
      background: linear-gradient(to right, #a3a8f0, #696fdd);
      -webkit-background-clip: text;
      background-clip: text; }
      .card__button--premium:hover {
        background-image: linear-gradient(to right, #a3a8f0, #696fdd);
        border: 1px solid white;
        color: #fff;
        background-clip: none; }

.toggle {
  display: flex;
  align-items: center; }
  .toggle .toggle-btn {
    padding: .2rem;
    margin: 0 1.5rem;
    width: 4.5rem;
    height: 2.6rem;
    background-image: linear-gradient(to right, #a3a8f0, #696fdd);
    border: none;
    border-radius: 20px;
    cursor: pointer; }
    .toggle .toggle-btn .inner-circle {
      border-radius: 50%;
      width: 2.2rem;
      height: 2.2rem;
      background-color: #fff; }

.toggle-btn.active .inner-circle {
  margin-left: auto; }

.toggle-btn.active {
  background-image: linear-gradient(to right, rgba(163, 168, 240, 0.7), rgba(105, 111, 221, 0.7)); }

small {
  color: #b3b5c6;
  font-family: inherit;
  font-weight: 700; }

.mb-sm {
  margin-bottom: 1rem; }

.mb-md {
  margin-bottom: 2rem; }

.mb-xl {
  margin-bottom: 3rem; }

.mb-xxl {
  margin-bottom: 4rem; }

.mt-sm {
  margin-top: 1rem; }

.mt-md {
  margin-top: 2rem; }

.mt-xl {
  margin-top: 3rem; }

.mt-xxl {
  margin-top: 4rem; }
